/* ../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_simple.roo begin */
.spin_theme_simple {
 display: none;
 width: 20px;
 height: 20px;
 border: 2px dashed #000;
 border-radius: 50%;
}
 .spin_theme_simple.spin_progress {
  display: inline-block;
  animation: spin_theme_simple 2s infinite linear;
 }

@keyframes spin_theme_simple {
 from {
  transform: rotate(0);
 }
 to {
  transform: rotate(360deg);
 }
}

/* ../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_simple.roo end */
/* blocks/loader/loader.roo begin */
.loader {
 width: 200px;
 margin: 100px auto;
}

/* blocks/loader/loader.roo end */
/* ../../desktop.blocks/someBlock/__question/someBlock__question.roo begin */
.someBlock__question {
 font-style: italic;
}

/* ../../desktop.blocks/someBlock/__question/someBlock__question.roo end */
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_normal.roo begin */
.button_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
 display: inline-block;
 margin: 0;
 padding: 0;
 user-select: none;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 3px;
 outline: 0;
 color: #000;
 background: #fff;
 text-align: center;
 white-space: nowrap;
}
 .button_theme_normal::-moz-focus-inner {
  padding: 0;
  border: 0;
 }
 .button_theme_normal .icon,
 .button_theme_normal .button__text {
  /*
   * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
   * Warning: bug still can be reproduced by clicking on button's border
   * TODO: try to fix
   */
  position: relative;
  display: inline-block;
 }
 .button_theme_normal.button_type_link {
  text-decoration: none;
 }
 .button_theme_normal.button_hovered {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
 }
 .button_theme_normal.button_checked {
  background: #ffeba0;
 }
 .button_theme_normal.button_pressed {
  background: #f6f5f3;
 }
  .button_theme_normal.button_pressed.button_checked {
   background: #fee481;
  }
 .button_theme_normal.button_focused {
  border: 1px solid rgba(178, 142, 0, 0.6);
  box-shadow: 0 0 10px #fc0;
 }
 .button_theme_normal.button_disabled {
  background: rgba(0, 0, 0, 0.08);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.4);
 }
 .button_theme_normal.button_pseudo {
  background: 0;
 }
  .button_theme_normal.button_pseudo.button_pressed {
   background: rgba(0, 0, 0, 0.05);
  }
 /* TODO: прочекать бордеры, сделать непрозрачными */
 .button_theme_normal.button_action {
  background: #ffdb4d;
 }
  .button_theme_normal.button_action.button_pressed {
   background: #fc0;
  }
 .button_theme_normal.button_size_s {
  font-size: 13px;
  line-height: 22px;
 }
  .button_theme_normal.button_size_s .icon {
   width: 22px;
  }
  .button_theme_normal.button_size_s .button__text {
   padding: 0 10px;
  }
 .button_theme_normal.button_size_m {
  font-size: 13px;
  line-height: 26px;
 }
  .button_theme_normal.button_size_m .icon {
   width: 26px;
  }
  .button_theme_normal.button_size_m .button__text {
   padding: 0 13px;
  }
 .button_theme_normal.button_size_l {
  font-size: 15px;
  line-height: 30px;
 }
  .button_theme_normal.button_size_l .icon {
   width: 30px;
  }
  .button_theme_normal.button_size_l .button__text {
   padding: 0 15px;
  }
 .button_theme_normal.button_size_xl {
  font-size: 18px;
  line-height: 36px;
 }
  .button_theme_normal.button_size_xl .icon {
   width: 36px;
  }
  .button_theme_normal.button_size_xl .button__text {
   padding: 0 18px;
  }
 .button_theme_normal .icon + .button__text {
  padding-left: 0;
 }
 .button_theme_normal .button__text:not(:last-child) {
  padding-right: 0;
 }
 .button_theme_normal.button_togglable_radio:first-of-type,
 .button_theme_normal.button_togglable_radio ~ .button_togglable_radio {
  border-right-width: 0;
 }
 .button_theme_normal.button_togglable_radio ~ .button_togglable_radio {
  border-radius: 0;
 }
 .button_theme_normal.button_togglable_radio:first-of-type {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
 }
 .button_theme_normal.button_togglable_radio:last-of-type {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
 }
 .button_theme_normal.button_togglable_radio.button_hovered {
  border-right-width: 1px;
 }
  .button_theme_normal.button_togglable_radio.button_hovered ~ .button_togglable_radio {
   border-left-width: 0;
  }
  /* TODO: сложновато, проверить производительность */
  .button_theme_normal.button_togglable_radio.button_hovered ~ .button_togglable_radio ~ .button_togglable_radio {
   border-left-width: 1px;
  }

/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_normal.roo end */
/* ../../desktop.blocks/someBlock/someBlock.roo begin */
.someBlock {
 font-family: Arial, sans-serif;
 font-size: 14px;
 color: #404040;
 border: 2px;
 background-color: #F7F7F7;
 box-shadow: rgba(0, 0, 0, 0.29804) 0px 2px 2px 0px;
 padding: 40px;
 width: 200px;
}

/* ../../desktop.blocks/someBlock/someBlock.roo end */
/* blocks/someBlock/someBlock.roo begin */
.someBlock {
 margin: 100px auto;
}